<div class="col-md-10 col-md-offset-1">
	<div class="message-show">
		<h2><%= @message.title %></h2>
		<p class="message-postetd-by">Posted: <%= time_ago_in_words(@message.created_at)%> ago.</p>
		<p class="message-desc"><%= @message.description %></p>	
		
		<div class="links btn-group">
			<%= link_to "Back", root_path, class: "btn btn-default btn-xs" %>
			<%= link_to "Edit", edit_message_path(@message), class: "btn btn-primary btn-xs" %>
			<%= link_to "Delete", message_path(@message), method: :delete, data: {confirm: "Are You sure?"}, class: "btn btn-danger btn-xs" %>
		</div>

		<h3>Comments</h3>
		<p><%= render @message.comments %></p>

		<h3>Join discusion:</h3>
		<%= render 'comments/form' %>
		
	</div>	
</div>